body {
    background-image: url('../Res/image_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
}

.content {
    padding: 2em;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: auto;
}

.heading {
    text-align: center;
    width: 100%;
    height: 2em;
    color: rgba(255, 255, 255, 0.753);
    font-size: 2em;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
}

input[type=radio] {
    position: absolute;
    visibility: hidden; 
    display: none;
}

.pizzaform {
    margin: 2em;
}

label {
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center;
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 0.5em 1em 0.5em 1em;
    flex: 1;
}
.checked{
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
}

input[type=radio]:checked+label {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
}

.radio-group {
    border: solid 2px white;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.buttondiv {
    margin: 2em;
}


.child {
    flex: 1;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: transparent;
    color: white;
    font-size: 1em;
    border-style: hidden;
}

.button:hover {
    background: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 670px) {
    h2 {
        text-align: center;
    }
}